<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
    <div class="topbar">
      <a href='/'>home</a>
      <a href='/explore/'>explore</a>
      <a href='/users/{{username}}/'>{{username}}</a>
      <h2>Insta485</h2>
    </div>
    <!-- DO NOT CHANGE THIS -->
    <form action="{{url_for('handle_accounts')}}?target={{url_for('authenticate')}}" method="post" enctype="multipart/form-data">
        <p>Old Password<input type="password" name="password" required/></p>
        <p>New Password<input type="password" name="new_password1" required/></p>
        <p>New Password again<input type="password" name="new_password2" required/></p>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
      </form>
      <a href = "/accounts/edit/">Back to edit account </a>
  </body>
</html>
